@font-face {
    font-family: 'Space Mono', monospace; 
    font-weight: 400, 500, 700;
    src: url(https://fonts.google.com/specimen/Space+Mono);

}

:root {
    --clr-primary-cyan: hsl(172, 67%, 45%);

    --clr-neutral-drk-cyan: hsl(183, 100%, 15%);
    --clr-neutral-gray-cyan-one: hsl(186, 14%, 43%);
    --clr-neutral-gray-cyan-two: hsl(184, 14%, 56%);
    --clr-neutral-green: hsl(183, 79%, 24%);
    --clr-neutral-grey: hsl(202, 50%, 97%);
    --clr-neutral-light-cyan-one: hsl(185, 41%, 84%);
    --clr-neutral-light-cyan-two: hsl(189, 41%, 97%);

    --clr-neutral-white: hsl(0, 0%, 100%);

    --main-font: 'Space Mono', monospace;

}

body {
    background: var(--clr-neutral-light-cyan-one);
}

/* Containers */

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: var(--clr-neutral-white);
    overflow: hidden;
    margin: 0 auto;
    border-radius: 20px;
    
    max-width: 50rem;
    height: 20rem;
    
}

.right_area {
    background-color: var(--clr-neutral-drk-cyan);
    width: 20rem;
    height: 18rem;
    border-radius: 10px;
    position: relative;
    

}

.results {
    position: absolute;
    
}

/* Headings and paragraphs */

.sr-only {
    position: absolute;
    top: auto;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

h2 {
    font-family: var(--main-font);
    font-size: 1rem;
}

p {
    font-family: var(--main-font);

}

.amount_per_person {
    border: 1px solid black;
    position: absolute;
    left: 14rem;
    top: 0;
    font-size: 2rem;

}

/* Inputs and Labels*/

#bill {
    display: block;
    font-family: var(--main-font);
    -moz-appearance: textfield;
    width: 20rem;
    height: 1.8rem;
    background-color: var(--clr-neutral-grey);
    border-style: none;
    border-radius: 5px;
}

#people {
    display: block;
    font-family: var(--main-font);
    -moz-appearance: textfield;
    width: 20rem;
    height: 1.8rem;
    background-color: var(--clr-neutral-grey);
    border-style: none;
    border-radius: 5px;
}

.bill_label {
    display: block; /* Do I need to add this if #bill has it? */
    font-family: var(--main-font);
    font-size: 0.8rem;
}

.people_label {
    display: block; 
    font-family: var(--main-font);
    font-size: 0.8rem;
    padding-top: 0.5rem;
    
}

.percentages {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    column-gap: 10px;
    row-gap: 15px;
}

/* Buttons */

.percentage_button {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 1.2rem;
    background-color: var(--clr-neutral-drk-cyan);
    color: var(--clr-neutral-white);
    border-radius: 5px;
    border-style: none;
    padding: 0.4rem;

}

#custom_button {
    background-color: var(--clr-neutral-light-cyan-two);
    color: var(--clr-neutral-gray-cyan-two);
}

.reset_button {
    position: absolute;
    top: 15rem;
    left: 2rem;
    width: 16rem;
    height: 2rem;
    background-color: var(--clr-neutral-green);
    color: var(--clr-neutral-drk-cyan);
    font-weight: 400;
    font-size: 1rem;
    border-style: none;
    border-radius: 5px;

}

/* Hovers */

.percentage_button:hover {
    background-color: var(--clr-primary-cyan);
    color: var(--clr-neutral-drk-cyan);
    cursor: pointer;

}

#custom_button:hover {
    background-color: var(--clr-neutral-drk-cyan);
    color: var(--clr-neutral-white);
}

.reset_button:hover {
    background-color: var(--clr-primary-cyan);

}


/* Credits */ 
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
